<div class="container">
    <h1 class="display-4 text-white">Welcome, fighter!</h1>
    <div class="row text-white">
        <div class="col-12 lead">
            <img src="~/Images/muscle_guy1.jpg" height="150" width="150" />
               Make your choice!
        </div>
    </div>
</div>