
<div class="container d-flex flex-column align-items-center " >
    <div class="row align-self-start "   >
        <div class="col-md-12">
            <img src="~/Images/muscle_guy1.jpg" width="150" height="150" />
            <span class="text-muted text-white">What is gonna' be this time?</span>

        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <table>
                
                <tr>
                    <td>
                        <img src="~/Images/TrainStrength1.jpg" class="redirect-to-train-strength" width="200" height="200" />
                    </td>
                </tr>
                <tr><td class="text-center"><button type="button" class="redirect-to-train-strength btn btn-block btn-danger">Strength</button></td></tr>
            </table>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <td>
                        <img src="~/Images/TrainSpeed1.jpg" class="redirect-to-train-speed" width="200" height="200" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center text-warning">
                        <button type="button" class="redirect-to-train-speed btn btn-block btn-danger">Speed</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
